.container {
  width: 95%;
  // max-width: 710px;
  margin: 0 auto;
  // border: 1px solid green;

  @media (min-width: $large) {
    width: 100%;
    // max-width: 896px;
    max-width: 1088px;
  }
}
