// Color system

$white: #fff;
$light: #eff8f7;
$light-active: #d9efec;
$primary: #34aca7;
$dark: #000;
$smokie: #e5e5e5;

// Typography

$arial-font: Arial, Verdana, sans-serif;

// Breakpoints

$extra-small: 580px;
$small: 650px;
$medium: 768px;
$large: 900px;
$extra-large: 1100px;

// Paddings

$padding-general-extra-small: 0 1.3em;
$padding-general-small: 0 3em;
$padding-left-banner-header: 1.82rem;
