.aside {
  // border: 1px solid saddlebrown;

  @media (min-width: $large) {
    margin-right: 3em;
  }

  .container-main {
    .container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      @media (min-width: $small) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5em;
      }

      @media (min-width: $large) {
        flex-direction: column;
        margin-top: 0;
      }
    }
  }
}

.nav {
  margin: 2em 0;

  @media (min-width: $large) {
    margin: 0;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $large) {
    flex-direction: column;
  }
}

.nav-link {
  margin: 0 1em;
  color: $primary;
  font-style: italic;
  text-decoration: none;

  // @media (min-width: $large) {
  //   margin: 0 1.2em;
  // }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $large) {
    flex-direction: row;
    margin-top: 2em;

    &:first-child {
      margin-top: 1em;
    }
  }
}

.nav-icon {
  display: none;

  @media (min-width: $medium) {
    display: block;
    margin-bottom: 0.5em;
  }
}
