.aside {
  .container-main {
    .container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      @media (min-width: $extra-small) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5em;
      }
    }
  }
}

.nav {
  margin: 2em 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  margin: 0 1em;
  color: $primary;
  font-style: italic;
  text-decoration: none;

  @media (min-width: $medium) {
    margin: 0 1.5em;
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  display: none;

  @media (min-width: $medium) {
    display: block;
    margin-bottom: 0.5em;
  }
}
