.cards-section {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $small) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.75em;
      align-items: flex-start;
    }
  }
}
