.cards-section {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $extra-small) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
