.body {
  display: flex;
  flex-direction: column;
  max-width: 896px;
  margin: 0 auto;

  @media (min-width: $large) {
    max-width: 1080px;
  }
}

.container-flex {
  @media (min-width: $large) {
    display: flex;
    margin: 0 auto;
    margin-top: 3.5em;
  }
}
