.banner-container {
  padding-top: 18.7em;
  background-image: url('../assets/img/banner.jpg');
  background-position: center;
  background-size: cover;

  @media (min-width: $medium) {
    padding-top: 20em;
    padding-bottom: 5em;
  }
}

.hero-section {
  margin-top: 2.5em;
}

.banner-header {
  margin: 0;
  padding: 0.3em 0;
  padding-left: $padding-left-banner-header;
  font-weight: 400;
  font-size: 2.2rem;
  font-style: italic;
  background: $white;
  opacity: 60%;

  @media (min-width: $medium) {
    max-width: 269px;
    opacity: 100%;
  }
}

.banner-desc {
  margin: 0;
  padding: 0.7em 0;
  padding-left: $padding-left-banner-header;
  color: $white;
  font-style: italic;
  background: $dark;

  @media (min-width: $medium) {
    max-width: 481px;
    opacity: 100%;
  }
}

.tabs {
  display: none;
  justify-content: space-between;

  @media (min-width: $medium) {
    display: flex;
  }
}

.tab-item {
  width: 100%;
  padding: 0.7em 0;
  color: $primary;
  background: $light;
  border: 0;
  border-right: 1px solid #d6e6e6;
  cursor: pointer;

  &:last-child {
    background: $light-active;
  }
}
