.hero-section {
  margin-top: 2.5em;
  padding-top: 15em;
  background-image: url('../assets/img/banner.jpg');
  background-position: center;
  background-size: cover;
}

.banner-header {
  margin: 0;
  padding: 0.3em 0;
  padding-left: $padding-left-banner-header;
  font-weight: 400;
  font-size: 2.2rem;
  font-style: italic;
  background: $white;
  //   border: 1px solid black;
  opacity: 60%;
}

.banner-desc {
  margin: 0;
  padding: 0.7em 0;
  padding-left: $padding-left-banner-header;
  color: $white;
  font-style: italic;
  background: $dark;
}
