.slider {
  margin-top: 2.5em;

  @media (min-width: $large) {
    margin-top: 0;
  }

  &__content {
    position: relative;
    width: 770px;
    height: 500px;
    margin: 10px;
  }

  &__slide {
    position: absolute;
    // z-index: 1;
    width: 100%;
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }

  &__slide_active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  &__image {
    // z-index: 1;
    max-width: 100%;
  }

  &__header {
    position: absolute;
    top: 30px;
    margin: 0;
    padding: 0.3em 0;
    padding-left: $padding-left-banner-header;
    font-weight: 400;
    font-size: 2.2rem;
    font-style: italic;
    background: $white;
    opacity: 60%;

    @media (min-width: $medium) {
      max-width: 269px;
      opacity: 100%;
    }
  }

  &__desc {
    margin: 0;
    padding: 0.7em 0;
    padding-left: $padding-left-banner-header;
    color: $white;
    font-style: italic;
    background: $dark;

    @media (min-width: $medium) {
      max-width: 481px;
      opacity: 100%;
    }
  }

  &__tabs {
    display: none;

    @media (min-width: $medium) {
      display: flex;
    }
  }

  &__tab-item {
    width: 100%;
    padding: 0.7em 0;
    color: $primary;
    background: $light;
    border: 0;
    border-right: 1px solid #d6e6e6;
    cursor: pointer;

    @media (min-width: $extra-large) {
      padding: 1.4em 0;
      padding-left: 1.1em;
      font-size: 1.8rem;
      text-align: left;
    }
  }

  &__tab-item_active {
    background: $light-active;
  }

  &__tab-item-text {
    display: none;

    @media (min-width: $extra-large) {
      display: block;
      margin-top: 0.25em;
      font-size: 10px;
      font-style: italic;
    }
  }
}
